say say say;

if ($health > 10) then say else quit;

say disconnect else if ($health > 100) say disconnect

alias x alias y "disconnect; say disconnect"

bind mouse1 bind mouse2 "say mouse1"
bind mouse11 "say mouse1"

bind mouse2 "if ('$matchtype' == '2on2') then .lost else if ('$weapon' == '$tp_name_lg') then .left_pack lg- else if ('$weapon' == '$tp_name_rl') then .left_pack rl- else say disconnect;

if ($health > 100) then say disconnect; disconnect;"

bind mouse2 "
if ('$matchtype' == '2on2') then
    .lost
else if ('$weapon' == '$tp_name_lg') then
    .left_pack lg-
else if ('$weapon' == '$tp_name_rl') then
    .left_pack rl-
else
    say disconnect else if ($health > 100) say disconnect
;
disconnect
"
